<page-header header="Member" [showCancel]="false">
  <mx-button (handleClick)="openQuickAddDialog()">
    <span class="flex items-center">
      <p>Add Member</p>
    </span>
  </mx-button>
  <!-- <mx-button (handleClick)="create()">
    <span class="flex items-center">
      <p>Add Member</p>
    </span>
  </mx-button> -->
</page-header>
<mx-grid-shell
  gridTitle="Members"
  apiURL="/member/list"
  [defaultSort]="{ Desc: 'id' }"
>
  <!-- columns -->
  <mx-column field="id" title="ID" alignment="left">
    <ng-template #cell let-item>
      <span class="block whitespace-nowrap">#{{ item.id }}</span>
    </ng-template>
  </mx-column>
  <mx-column field="name" title="Name" alignment="left">
    <ng-template #cell let-item>
      <span class="block whitespace-nowrap">{{ item.name }}</span>
    </ng-template>
  </mx-column>
  <mx-column field="age" title="Age" alignment="right" />
  <mx-column field="mobile" title="mobile" alignment="right" />
  <mx-column field="email" title="email" alignment="left" />
  <mx-column field="height" title="height" />
  <mx-column field="weight" title="weight" />
  <mx-column field="emergencyContact" title="Emergency Contact" />
  <mx-column field="gender" title="Gender" />
  <mx-column field="joinDate" title="Join Date">
    <ng-template #cell let-item>
      {{ item.joinDate | date }}
    </ng-template>
  </mx-column>
  <!-- columns -->

  <!-- filters -->
  <mx-grid-filter label="Name" field="name" />
  <mx-grid-filter label="Mobile" field="mobile" />
  <mx-grid-filter label="Email" field="email" />
  <mx-grid-filter label="Height" field="height" />
  <mx-grid-filter label="Weight" field="weight" />
  <mx-grid-filter label="Gender" field="gender" />
  <!-- filters -->

  <!-- actions -->
  <mx-action icon="edit" (handleClick)="edit($event)" text="Edit" />
  <mx-action
    icon="receipt_long"
    (handleClick)="openViewInvoice($event)"
    text="View Invoice"
  />
  <!-- actions -->
</mx-grid-shell>
