<mx-form [form]="workoutTemplateForm" [zodSchema]="Z_workoutTemplate">
  <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-4">
    <mx-input label="Name" [control]="formControls.name" />
    <mx-input label="Description" [control]="formControls.description" />
    <mx-select
      label="Target"
      [items]="targetEnums"
      [control]="formControls.target"
    />
    <mx-select
      label="Intensity"
      [items]="intensityEnums"
      [control]="formControls.intensity"
    />
    <mx-input-number
      label="Approx Calorie burn"
      [control]="formControls.approxCalorieBurn"
      type="number"
    />
    <mx-input-number
      label="Approx time to complete"
      [control]="formControls.approxTimeToCompleteInM"
      type="number"
      [hints]="['Enter time in minutes, eg: 45 or 80']"
    />
    <mx-checkbox [control]="formControls.active" label="Active" />
  </div>
</mx-form>

<div class="my-4 grid grid-cols-4 gap-2">
  <div mxCard>
    <div mxCardHeader class="flex-row justify-between items-center">
      <div mxCardtitle>Day 1</div>
      <mx-icon
        icon="edit"
        iconClass="cursor-pointer"
        mxTooltip="Edit"
        (click)="openAddWorkoutDetail()"
      />
    </div>
    <div mxCardContent>
      <!-- List Group -->
      <ul class="mt-3 flex flex-col">
        @for (i of [12, 2, 2, 2, 2, 2, 2]; track i; let index = $index) {
          <li
            class="inline-flex items-center gap-x-2 py-3 px-4 text-sm border -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg"
          >
            <div class="flex items-center justify-between w-full">
              <span>{{ index + 1 }}.&nbsp;Bench Press</span>
              <span
                ><span class="font-semibold">3</span>&nbsp;<span
                  class="text-muted-foreground"
                  >(12,10,8)</span
                >
              </span>
            </div>
          </li>
        }
      </ul>
    </div>
  </div>
  <div mxCard>
    <div mxCardHeader>
      <div mxCardtitle>Day 2</div>
    </div>
  </div>
  <div mxCard>
    <div mxCardHeader>
      <div mxCardtitle>Day 3</div>
    </div>
  </div>
  <div mxCard>
    <div mxCardHeader>
      <div mxCardtitle>Day 4</div>
    </div>
  </div>
</div>

<mx-data-grid
  [data]="workoutDetailData"
  gridTitle="Workout Detail"
  maxHeight="300px"
>
  <mx-toolbar
    icon="add"
    name="Add Workout"
    (handleClick)="openAddWorkoutDetail()"
  />
  <mx-column field="exerciseName" title="Exercise Name" />
  <mx-column field="set" />
  <mx-column field="reps" />

  <mx-action
    icon="edit"
    (handleClick)="openAddWorkoutDetail($event, true)"
    text="Edit"
  />
  <mx-action icon="delete" text="Delete" />
</mx-data-grid>
