<mx-form [form]="roleForm" [zodSchema]="Z_role">
  <div class="grid grid-cols-3 gap-4">
    <mx-input
      label="Name"
      [control]="formControls.name"
      [showErrors]="showErrors"
    />
  </div>
</mx-form>
<div class="my-4"></div>

<mx-grid-shell apiURL="/rolePermission/list" gridTitle="Assigned Permissions">
  <!-- columns -->
  <mx-column field="id" alignment="left" [visible]="false" />
  <mx-column field="name" alignment="left" />
  <!-- columns -->

  <!-- filters -->
  <mx-grid-filter label="name" field="name" />
  <!-- filters -->

  <!-- actions -->
  <!-- <mx-action icon="edit" (handleClick)="update($event)" text="Edit" /> -->
  <!-- actions -->
</mx-grid-shell>
