<mx-form [form]="organisationForm" [zodSchema]="Z_organisation">
  <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-4 items-center">
    <mx-input
      label="Organisation Name"
      placeholder="Enter Name"
      [control]="formControls.name"
    />
    <mx-input
      label="Email"
      placeholder="Enter email"
      [control]="formControls.email"
    />
    <mx-input
    label="Display Name"
    placeholder="Enter Display name"
    [control]="formControls.panelName"
    [hints]="['This name will be displayed on admin panel and mobile app']"
  />
    <mx-input
      label="Mobile"
      placeholder="Enter Mobile"
      [control]="formControls.mobile"
    />

    <!-- <mx-checkbox label="DarkMode" [control]="formControls.darkMode" /> -->
  </div>

  <div class="mt-4">
    <mx-file-upload
      label="Logo"
      [previewImages]="true"
      (handleFileChange)="handleLogoChange($event)"
    />
  </div>
</mx-form>
