<mx-form [form]="memberForm" [zodSchema]="Z_member">
  <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-4 mb-4">
    @if (formControls.planID) {
      <div class="flex gap-2 items-center">
        <mx-select
          class="flex-1"
          label="Plan"
          [control]="formControls.planID"
          bindLabel="name"
          bindValue="id"
          apiURL="/plan/all"
          placeholder="Select plan"
          #planSelect
        />
        <mx-button
          variant="outline"
          class="mt-3"
          (handleClick)="openPlanForm()"
          ><mx-icon icon="plus"
        /></mx-button>
      </div>
    }
    <mx-input
      label="Name"
      placeholder="Enter name"
      [control]="formControls.name"
    />
    <mx-select
      label="Gender"
      [control]="formControls.gender"
      [items]="GENDER"
      [patchFirstEntry]="true"
      placeholder="Select Gender"
    />
    @if (formControls.age) {
      <mx-input-number
        label="age"
        [control]="formControls.age"
        placeholder="Enter age"
      />
    }

    @if (formControls.height) {
      <mx-input-number
        label="Height (cm)"
        [control]="formControls.height"
        type="number"
        placeholder="Height in cm"
      />
    }
    @if (formControls.weight) {
      <mx-input-number
        label="Weight (kg)"
        [control]="formControls.weight"
        type="number"
        placeholder="Enter Weight"
      />
    }
    <mx-input
      label="Mobile"
      [control]="formControls.mobile"
      placeholder="Enter mobile number"
    />
    <mx-input
      label="Email"
      [control]="formControls.email"
      placeholder="Enter email"
    />
    <mx-select
      apiURL="/workout-template/all"
      bindLabel="name"
      bindValue="id"
      label="Workout Template"
      [control]="formControls.workoutTemplateID"
      [patchFirstEntry]="true"
    />
    <mx-input
      label="Emergency Contact"
      [control]="formControls.emergencyContact"
      placeholder="Enter emergency contact"
    />
    <mx-select
      label="Assigned User"
      [control]="formControls.userID"
      apiURL="/user/all"
      bindLabel="name"
      bindValue="id"
      [patchFirstEntry]="true"
    />
    @if (formControls.joinDate) {
      <mx-input
        label="Join Date"
        [type]="'date'"
        [control]="formControls.joinDate"
      />
    }
    <mx-checkbox label="Active" [control]="formControls.active" />
  </div>
  <mx-textarea
    [control]="formControls.address"
    label="Address"
    placeholder="Enter full address"
  />
</mx-form>
