<page-header [header]="'Member details' + ' #' + memberID" />
<div class="mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="grid grid-cols-2 gap-4">
      <div mxCard>
        <div
          mxCardHeader
          class="flex-row items-center justify-between space-y-1 px-6"
        >
          <div mxCardtitle>Total Spent</div>
        </div>
        <div mxCardContent>
          <display-currency [amount]="totalSpent || 0" />
        </div>
      </div>
      <div mxCard>
        <div
          mxCardHeader
          class="flex-row items-center justify-between space-y-1 px-6"
        >
          <div mxCardtitle>Calories Burnt this month</div>
        </div>
        <div mxCardContent class="flex gap-2 items-center">
          <p class="text-2xl font-bold">100</p>
          <span class="text-muted-foreground text-md">Kcal</span>
        </div>
      </div>
      <div mxCard>
        <div
          mxCardHeader
          class="flex-row items-center justify-between space-y-1 px-6"
        >
          <div mxCardtitle>Weight</div>
        </div>
        <div mxCardContent>
          <p class="text-2xl font-bold">{{ memberData?.weight }}kg</p>
        </div>
      </div>
      <div mxCard>
        <div
          mxCardHeader
          class="flex-row items-center justify-between space-y-1 px-6"
        >
          <div mxCardtitle>BMI</div>
        </div>
        <div mxCardContent class="flex justify-between items-center">
          <p class="text-2xl font-bold">{{ memberData?.bmi }}</p>
          <!-- <div id="bmi-gauge" class=" h-[150px] w-[100px]"></div> -->
        </div>
      </div>
    </div>
    <div mxCard>
      <div
        mxCardHeader
        class="flex-row items-center justify-between space-y-1 py-4 px-6"
      >
        <div mxCardtitle class="text-lg capitalize">
          {{ memberData?.name }}
        </div>
        <mx-button
          variant="ghost"
          size="icon"
          (handleClick)="openUpdateMember()"
        >
          <mx-icon icon="edit" />
        </mx-button>
      </div>
      <div mxCardContent class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <span>
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 capitalize"
          >
            Workout Template
          </label>
          <p
            class="text-sm cursor-pointer hover:underline"
            [routerLink]="
              '/workout-template/update/' + memberData?.workoutTemplateID
            "
          >
            {{ memberData?.workoutTemplateName }}
          </p>
        </span>
        <span>
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 capitalize"
          >
            Gender
          </label>
          <p class="text-sm">{{ memberData?.gender }}</p>
        </span>

        <span>
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 capitalize"
          >
            Emergency Contact
          </label>
          <p class="text-sm">{{ memberData?.emergencyContact }}</p>
        </span>
        <span>
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 capitalize"
          >
            Email
          </label>
          <p class="text-sm">{{ memberData?.email }}</p>
        </span>
        <span>
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 capitalize"
          >
            Mobile
          </label>
          <p class="text-sm">{{ memberData?.mobile }}</p>
        </span>
        <span>
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 capitalize"
          >
            Join date
          </label>
          <p class="text-sm">{{ memberData?.joinDate | date: 'mediumDate' }}</p>
        </span>
        <span>
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 capitalize"
          >
            Age
          </label>
          <p class="text-sm">{{ memberData?.age }}</p>
        </span>
        <span>
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 capitalize"
          >
            Height
          </label>
          <p class="text-sm">{{ memberData?.height }}</p>
        </span>
        <!-- <div id="bmi-gauge" class=" h-[150px] w-[100px]"></div> -->
      </div>
    </div>
  </div>
</div>

@if (memberData?.id) {
  <div class="my-4"></div>
  <mx-grid-shell
    [apiURL]="'/member/membership-detail-list/' + memberData?.id"
    gridTitle="Plan History"
    maxHeight="200"
    minHeight="200"
  >
    <mx-toolbar
      name="Add Membership"
      icon="add"
      (handleClick)="openAddNewMemberShip()"
    />

    <mx-column field="plan.name" title="Plan" />
    <mx-column field="plan.amount" title="Amount" />
    <mx-column field="memberPlan.startDate" title="Start Date">
      <ng-template #cell let-item>
        {{ item.memberPlan.startDate | date: 'mediumDate' }}
      </ng-template>
    </mx-column>
    <mx-column field="memberPlan.endDate" title="End Date">
      <ng-template #cell let-item>
        {{ item.memberPlan.endDate | date: 'mediumDate' }}
      </ng-template>
    </mx-column>
    <mx-column field="memberPlan.paid" title="Paid">
      <ng-template #cell let-item>
        <mx-badge
          [text]="item.memberPlan.paid ? 'Yes' : 'No'"
          [variant]="item.memberPlan.paid ? 'success' : 'error'"
          [clearable]="false"
        />
      </ng-template>
    </mx-column>
  </mx-grid-shell>
}
