<mx-form [form]='memberPlanForm' [zodSchema]='Z_memberPlan'>
  <div class='grid md:grid-cols-3 sm:grid-cols-1 gap-4'>
          <mx-input
            label='Id'
            [control]='formControls.id'
            type='number'
          />
          <mx-input
            label='MemberId'
            [control]='formControls.memberID'
            type='number'
          />
          <mx-input
            label='PlanId'
            [control]='formControls.planID'
            type='number'
          />
          <mx-input
            label='StartDate'
            [control]='formControls.startDate'
          />
          <mx-input
            label='EndDate'
            [control]='formControls.endDate'
          />
  </div>

</mx-form>
