<mx-form [form]="matchForm" [zodSchema]="zMatch">
  <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-4">
    <mx-select
      label="Game Slug"
      [control]="matchFormControls.gameSlug"
      [showErrors]="showErrors"
      [items]="GAMES"
      #menuSelect
    >
    </mx-select>
    <mx-input
      label="Team One"
      [control]="matchFormControls.teamOne"
      [showErrors]="showErrors"
    />

    <mx-input
      label="Team Two"
      [control]="matchFormControls.teamTwo"
      [showErrors]="showErrors"
    />
    <mx-input
      label="Venue"
      [control]="matchFormControls.venue"
      [showErrors]="showErrors"
    />
    <mx-input
      label="League"
      [control]="matchFormControls.league"
      [showErrors]="showErrors"
    />
    <mx-input
      label="Format"
      [control]="matchFormControls.format"
      [showErrors]="showErrors"
    />
    <mx-input
      label="Start Date"
      type="date"
      [control]="matchFormControls.startDate"
      [showErrors]="showErrors"
    ></mx-input>
    <mx-input
      label="Start Time"
      type="time"
      [control]="matchFormControls.startTime"
      [showErrors]="showErrors"
    ></mx-input>
  </div>

  <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4 my-4">
    <mx-file-upload
      (handleFileChange)="handleTeamOneLogo($event)"
      label="Team One Logo"
    />
    <mx-file-upload
      (handleFileChange)="handleTeamTwoLogo($event)"
      label="Team Two Logo"
    />
    <mx-file-upload
      (handleFileChange)="handleH2hTeamImage($event)"
      label="H2H Team Image"
    />
    <mx-file-upload
      (handleFileChange)="handlePremiumTeamImage($event)"
      label="Premium Team Image"
    />
  </div>
  <mx-textarea
    label="Description"
    [control]="matchFormControls.description"
    [showErrors]="showErrors"
  />
  <mx-textarea
    label="H2H Team"
    [control]="matchFormControls.h2hTeam"
    [showErrors]="showErrors"
  />
</mx-form>

<div class="mt-4 flex flex-col gap-2">
  <div>
    <p>Team One Logo</p>

    <mx-image [filename]="previousFilenames.teamOneLogo" />
  </div>
  <div>
    <p>Team Two Logo</p>
    <mx-image [filename]="previousFilenames.teamTwoLogo" />
  </div>
  <div>
    <p>H2H Team Image</p>
    <mx-image [filename]="previousFilenames.h2hTeamImage" />
  </div>
  <div>
    <p>Premium Team Image</p>
    <mx-image [filename]="previousFilenames.premiumTeamImage" />
  </div>
</div>
