<h3 class="font-bold text-3xl">Dashboard</h3>
<div class="grid grid-cols-1 md:grid-cols-4 gap-4 py-4">
  <div mxCard class="bg-emerald-200 dark:bg-emerald-900">
    <div
      mxCardHeader
      class="flex-row items-center justify-between space-y-1 py-4 px-6"
    >
      <div
        mxCardtitle
        class="text-emerald-800 dark:text-emerald-300 tracking-wide"
      >
        Revenue This Month
      </div>
    </div>
    <div mxCardContent>
      <span class="flex">
        <display-currency [amount]="revenueThisMonth" />
      </span>
    </div>
    <div
      class="flex gap-1 items-center justify-between cursor-pointer p-1 px-6 border-t border-emerald-500"
      mxCardFooter
    >
      <p class="text-xs text-emerald-700/90 dark:text-emerald-300/90">
        View List
      </p>
      <mx-icon icon="arrow_right" class="mt-1" />
    </div>
  </div>
  <div mxCard class="bg-blue-200 dark:bg-blue-900">
    <div
      mxCardHeader
      class="flex-row items-center justify-between space-y-1 py-4 px-6"
    >
      <div mxCardtitle class="text-blue-800 dark:text-blue-300 tracking-wide">
        New Customers This Month
      </div>
    </div>
    <div mxCardContent>
      <p class="text-2xl font-bold">
        {{ newCustomerByMonthCount }}
      </p>
    </div>
    <div
      class="flex gap-1 items-center justify-between cursor-pointer p-1 px-6 border-t border-blue-500"
      mxCardFooter
    >
      <p class="text-xs text-blue-700/90 dark:text-blue-300/90">View List</p>
      <mx-icon icon="arrow_right" class="mt-1" />
    </div>
  </div>
  <div mxCard class="bg-rose-200 dark:bg-rose-900">
    <div
      mxCardHeader
      class="flex-row items-center justify-between space-y-1 py-4 px-6"
    >
      <div mxCardtitle class="text-rose-800 dark:text-rose-300 tracking-wide">
        Open Enquiries
      </div>
    </div>
    <div mxCardContent>
      <p class="text-2xl font-bold">{{ openEnquiries }}</p>
    </div>
    <div
      class="flex gap-1 items-center justify-between cursor-pointer p-1 px-6 border-t border-rose-500"
      mxCardFooter
    >
      <p class="text-xs text-rose-700/90 dark:text-rose-300/90">View List</p>
      <mx-icon icon="arrow_right" class="mt-1" />
    </div>
  </div>
  <div mxCard class="bg-purple-200 dark:bg-purple-900">
    <div
      mxCardHeader
      class="flex-row items-center justify-between space-y-1 py-4 px-6"
    >
      <div
        mxCardtitle
        class="text-purple-800 dark:text-purple-300 tracking-wide"
      >
        Total Active Members
      </div>
    </div>
    <div mxCardContent>
      <p class="text-2xl font-bold">{{ memberCount }}</p>
    </div>
    <div
      class="flex gap-1 items-center justify-between cursor-pointer p-1 px-6 border-t border-purple-500"
      mxCardFooter
    >
      <p class="text-xs text-purple-700/90 dark:text-purple-300/90">
        View List
      </p>
      <mx-icon icon="arrow_right" class="mt-1" />
    </div>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
  <div mxCard>
    <div
      mxCardHeader
      class="flex-row items-center justify-between space-y-1 py-4 px-6"
    >
      <div mxCardtitle>Last seven days Attendance</div>
      <mx-icon icon="list_alt" size="lg" />
    </div>
    <div mxCardContent class="p-0">
      <div id="bar-chart" class="w-full h-[350px]"></div>
    </div>
  </div>
  <div mxCard>
    <div
      mxCardHeader
      class="flex-row items-center justify-between space-y-1 py-4 px-6"
    >
      <div mxCardtitle>Previous two months enquiry</div>
      <mx-icon icon="list_alt" size="lg" />
    </div>
    <div mxCardContent class="p-0">
      <div id="line-chart" class="w-full h-[350px]"></div>
    </div>
  </div>
</div>

<mx-grid-shell gridTitle="Open Enquiries" apiURL="/enquiry/list">
  <!-- columns -->
  <mx-column field="customerName" title="Customer Name" alignment="left" />
  <mx-column field="mobile" alignment="right" />
  <mx-column field="email" alignment="left" />
  <mx-column field="goal" alignment="left" />
  <mx-column field="periodInM" title="Period in Month" />
  <mx-column field="status">
    <ng-template #cell let-item>
      <mx-badge
        [text]="item.status"
        [variant]="item.status === 'Open' ? 'info' : 'secondary'"
      />
      {{ item.status | date: 'medium' }}
    </ng-template>
  </mx-column>
  <mx-column field="createdAt" title="Created">
    <ng-template #cell let-item>
      {{ item.createdAt | date: 'medium' }}
    </ng-template>
  </mx-column>
  <!-- columns -->
</mx-grid-shell>
