<mx-form [form]="userForm" [zodSchema]="Z_user">
  <div class="grid grid-cols-3 gap-4">
    <mx-input
      label="Email"
      [control]="formControls.email"
      [showErrors]="showErrors"
    />
    <mx-input-password
      label="Password"
      [control]="formControls.password"
      [showErrors]="showErrors"
      [suggestPassword]="true"
    />
    <mx-select [control]="formControls.roles" label="Roles" apiURL="/role/all" [multiple]="true" bindValue="id" bindLabel="name" />
  </div>
</mx-form>

