<div class="antialiased">
  <gb-header></gb-header>

  <ng-container *ngIf="sidebarService.sidebarOpen$ | async">
    <ng-container *ngIf="themeService.theme$ | async as theme">
      <mx-sidebar
        (changeTheme)="themeService.changeTheme($event)"
        [theme]="theme"
      ></mx-sidebar>
    </ng-container>
  </ng-container>

  <main
    class="p-4 md:ml-72 pt-16 h-auto bg-background text-card-foreground min-h-screen"
    [ngClass]="{ 'md:ml-72': sidebarService.sidebarOpen$ | async }"
  >
    <router-outlet></router-outlet>
  </main>
</div>
